# Classification image using block based extracted features - 3class

In [1]:
import numpy as np
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import normalize
import pandas as pd

## Import data

#### Nikon

In [2]:
nikon=pd.read_csv("Final_dataset/Nikkon.csv")
nikon.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12
0,129.580,118.910,112.390,1.1238,0.85779,0.78030,130.580,119.910,113.390,0.97634,0.97014,0.92186
1,128.710,117.570,110.410,1.1347,0.85198,0.76659,129.710,118.570,111.410,0.97886,0.97140,0.92855
2,138.440,131.440,127.320,1.0825,0.91245,0.87085,139.440,132.440,128.320,0.94940,0.94510,0.83543
3,131.140,124.000,119.160,1.0977,0.90811,0.85821,132.140,125.000,120.160,0.95199,0.93391,0.81582
4,75.374,67.811,63.859,1.1474,0.82397,0.75017,76.374,68.811,64.859,0.96298,0.96209,0.89646

In [3]:
# describe datset
nikon.describe()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12
count,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000
mean,119.789661,112.493012,105.148195,188.418789,0.902765,0.908887,120.577139,113.302397,106.048200,0.916378,0.869106,0.861253
std,51.855566,50.396790,53.895270,2157.912339,0.290756,0.686864,51.774358,50.248531,53.732099,0.107428,0.150249,0.139179
min,6.651000,6.029600,6.728900,0.348730,0.103140,0.014781,7.651000,7.029600,8.131100,-0.321240,-0.084155,-0.114900
25%,79.845750,74.496250,63.010750,0.889603,0.732748,0.500323,80.558750,75.496250,63.803250,0.892135,0.810172,0.807955
50%,121.155000,113.385000,101.375000,1.019750,0.907375,0.849645,122.125000,114.105000,102.375000,0.955315,0.930415,0.903030
75%,157.947500,146.582500,147.182500,1.601425,0.999147,1.089175,158.022500,147.190000,148.182500,0.983270,0.968963,0.956803
max,246.070000,243.460000,254.970000,39798.000000,2.284600,5.572200,247.070000,244.460000,255.000000,0.998660,0.998450,0.996550

#### Canon

In [4]:
canon=pd.read_csv("Final_dataset/canon.csv")
canon.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12
0,115.030,113.440,109.880,1.1214,0.96344,0.88919,116.040,114.440,110.880,0.98118,0.96749,0.95483
1,113.970,112.950,109.980,1.0959,0.97700,0.92073,114.980,113.950,110.990,0.98748,0.97684,0.96913
2,77.567,75.927,67.048,1.2820,0.97039,0.76680,78.567,76.927,68.048,0.96503,0.94548,0.88716
3,85.368,81.794,70.776,1.3348,0.92508,0.69720,86.368,82.794,71.776,0.97028,0.94772,0.89659
4,102.750,100.760,95.331,1.1660,0.96183,0.84911,103.770,101.760,96.360,0.98455,0.97259,0.95115

In [5]:
#describe data
canon.describe()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12
count,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000,600.000000
mean,103.728912,100.286369,87.964064,2.740439,1.023695,0.875187,104.452411,101.155351,88.956231,0.903484,0.874965,0.849052
std,53.370420,49.300251,47.916869,11.323551,0.297845,0.612265,53.131194,49.217431,47.884173,0.129092,0.151257,0.166506
min,3.634800,3.640300,3.516100,0.511580,0.200210,0.059322,4.744700,4.749600,4.646800,0.127170,0.270670,0.076699
25%,60.983750,62.395750,48.465500,1.012200,0.943488,0.590767,61.418250,63.396000,49.005000,0.879240,0.842033,0.792895
50%,100.443500,97.833000,81.550000,1.150150,1.019050,0.901000,101.435000,98.846000,82.565000,0.960440,0.940495,0.917920
75%,139.942500,131.900000,119.425000,1.807050,1.098550,1.029950,140.942500,132.900000,120.530000,0.983845,0.973015,0.961580
max,252.950000,238.250000,228.750000,226.780000,2.571200,4.869500,251.790000,233.350000,229.750000,0.999060,0.998060,0.996540

In [15]:
sony=pd.read_csv("Final_dataset/Sony.csv")
canon.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,label
0,115.030,113.440,109.880,1.1214,0.96344,0.88919,116.040,114.440,110.880,0.98118,0.96749,0.95483,0
1,113.970,112.950,109.980,1.0959,0.97700,0.92073,114.980,113.950,110.990,0.98748,0.97684,0.96913,0
2,77.567,75.927,67.048,1.2820,0.97039,0.76680,78.567,76.927,68.048,0.96503,0.94548,0.88716,0
3,85.368,81.794,70.776,1.3348,0.92508,0.69720,86.368,82.794,71.776,0.97028,0.94772,0.89659,0
4,102.750,100.760,95.331,1.1660,0.96183,0.84911,103.770,101.760,96.360,0.98455,0.97259,0.95115,0

In [16]:
#describe data
sony.describe()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12
count,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000,564.000000
mean,110.888426,108.901160,98.520698,2.440922,1.059926,0.880405,111.829932,109.847873,99.527640,0.866146,0.845874,0.804353
std,40.763241,42.019851,43.157751,8.795644,0.608111,0.423829,40.679093,41.917857,43.127219,0.146559,0.176559,0.189842
min,7.950800,7.844100,6.976900,0.595350,0.133480,0.015355,8.952300,8.857100,7.997600,0.349680,-0.131880,-0.152390
25%,83.185250,82.841750,69.903000,0.916180,0.799637,0.640545,84.185250,83.838250,70.903000,0.840870,0.794055,0.717805
50%,116.895000,113.360000,96.724500,1.049700,0.923465,0.884250,117.925000,114.360000,98.049000,0.926690,0.917585,0.877440
75%,140.530000,135.600000,127.822500,1.468800,1.015150,1.062650,141.530000,136.600000,128.822500,0.960710,0.961685,0.938092
max,245.220000,244.840000,252.240000,131.380000,5.575300,2.979000,246.220000,245.840000,252.810000,0.994790,0.994250,0.994890

## Adding Class label

<ul>
<li>Canon : 0</li>
<li>Nikon : 1</li> 
<li>Sony : 2</li>

</ul>

In [17]:
nikon.loc[:,'label'] = pd.Series(1, index=nikon.index)
nikon.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,label
0,129.580,118.910,112.390,1.1238,0.85779,0.78030,130.580,119.910,113.390,0.97634,0.97014,0.92186,1
1,128.710,117.570,110.410,1.1347,0.85198,0.76659,129.710,118.570,111.410,0.97886,0.97140,0.92855,1
2,138.440,131.440,127.320,1.0825,0.91245,0.87085,139.440,132.440,128.320,0.94940,0.94510,0.83543,1
3,131.140,124.000,119.160,1.0977,0.90811,0.85821,132.140,125.000,120.160,0.95199,0.93391,0.81582,1
4,75.374,67.811,63.859,1.1474,0.82397,0.75017,76.374,68.811,64.859,0.96298,0.96209,0.89646,1

In [18]:
canon.loc[:,'label'] = pd.Series(0, index=canon.index)
canon.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,label
0,115.030,113.440,109.880,1.1214,0.96344,0.88919,116.040,114.440,110.880,0.98118,0.96749,0.95483,0
1,113.970,112.950,109.980,1.0959,0.97700,0.92073,114.980,113.950,110.990,0.98748,0.97684,0.96913,0
2,77.567,75.927,67.048,1.2820,0.97039,0.76680,78.567,76.927,68.048,0.96503,0.94548,0.88716,0
3,85.368,81.794,70.776,1.3348,0.92508,0.69720,86.368,82.794,71.776,0.97028,0.94772,0.89659,0
4,102.750,100.760,95.331,1.1660,0.96183,0.84911,103.770,101.760,96.360,0.98455,0.97259,0.95115,0

In [19]:
sony.loc[:,'label'] = pd.Series(2, index=sony.index)
sony.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,label
0,30.9720,30.4310,28.6570,1.24570,0.98343,0.79860,31.9020,31.3630,29.6000,0.84411,0.85651,0.84448,2
1,14.1570,13.9220,12.8120,1.22740,0.97960,0.80025,15.1570,14.9220,13.8140,0.84100,0.82186,0.80391,2
2,21.6010,21.1660,18.0600,1.37130,0.96235,0.70202,22.6010,22.1660,19.0600,0.85982,0.89482,0.86676,2
3,8.1755,7.8441,7.2203,1.17580,0.91139,0.77464,9.1813,8.8571,8.2382,0.81415,0.79416,0.77459,2
4,109.9300,109.3600,110.9700,0.97031,0.98573,1.02120,110.9300,110.3800,111.9700,0.93984,0.94765,0.94620,2

## Join ALL data set & Normalise

In [20]:
data=pd.concat([canon,nikon,sony])
data[595:605]

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,label
595,86.776,84.604,85.474,0.99215,0.94188,0.95522,87.805,85.619,86.482,0.99030,0.99257,0.98594,0
596,74.173,75.606,78.384,0.94069,1.03430,1.10520,75.173,76.606,79.384,0.98616,0.98447,0.97357,0
597,74.185,73.439,73.732,1.01700,0.97071,0.96811,75.185,74.439,74.732,0.97243,0.97394,0.95641,0
598,87.777,89.408,94.760,0.89921,1.02840,1.14940,88.777,90.408,95.760,0.99447,0.98998,0.98348,0
599,73.522,70.810,69.878,1.03020,0.92642,0.90046,74.522,71.810,70.878,0.99239,0.99347,0.98976,0
0,129.580,118.910,112.390,1.12380,0.85779,0.78030,130.580,119.910,113.390,0.97634,0.97014,0.92186,1
1,128.710,117.570,110.410,1.13470,0.85198,0.76659,129.710,118.570,111.410,0.97886,0.97140,0.92855,1
2,138.440,131.440,127.320,1.08250,0.91245,0.87085,139.440,132.440,128.320,0.94940,0.94510,0.83543,1
3,131.140,124.000,119.160,1.09770,0.90811,0.85821,132.140,125.000,120.160,0.95199,0.93391,0.81582,1
4,75.374,67.811,63.859,1.14740,0.82397,0.75017,76.374,68.811,64.859,0.96298,0.96209,0.89646,1

In [21]:
#select all coulomn except label #testing
data[1:3].loc[:,data.columns != 'label']

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12
1,113.970,112.950,109.980,1.0959,0.97700,0.92073,114.980,113.950,110.990,0.98748,0.97684,0.96913
2,77.567,75.927,67.048,1.2820,0.97039,0.76680,78.567,76.927,68.048,0.96503,0.94548,0.88716

### Normalise

In [22]:
Norm_feature=normalize(data.loc[:,data.columns != 'label'], norm='l2', axis=1, copy=True)

In [23]:
Norm_feature

array([[ 0.41444219,  0.40871357,  0.39588723, ...,  0.0035351 ,
         0.00348577,  0.00344016],
       [ 0.41240425,  0.40871334,  0.3979663 , ...,  0.00357323,
         0.00353473,  0.00350683],
       [ 0.42696747,  0.41794009,  0.36906564, ...,  0.00531201,
         0.00520439,  0.00488337],
       ...,
       [ 0.40859575,  0.40219375,  0.41019626, ...,  0.00172537,
         0.00176432,  0.00168924],
       [ 0.41296648,  0.39648386,  0.40809755, ...,  0.00456603,
         0.00455775,  0.00455426],
       [ 0.40880904,  0.39276171,  0.41598515, ...,  0.00446493,
         0.00446218,  0.00446362]])

In [35]:
print(len(Norm_feature))

1740

# Create train and test

In [116]:
#concatenate numpy array

#training Set
train_x=np.concatenate((Norm_feature[60:1140],Norm_feature[1240:]),axis=0)
train_y=np.concatenate((np.array(data[60:1140].loc[:,"label"]),np.array(data[1240:].loc[:,"label"])),axis=0)

# Testing Set
test_x=np.concatenate((Norm_feature[0:100], Norm_feature[1100:1300]), axis=0)
test_y=np.concatenate((np.array(data[0:100].loc[:,"label"]),np.array(data[1100:1300].loc[:,"label"])),axis=0)

In [140]:
len(test_x)

300

# Classification

## SVM Classifier

In [135]:
# clsf = classifier
clsf=SVC(kernel='rbf',gamma=15,C=10) #SVM Classier
svm={} #store accuracy data for plotting

In [136]:
#training
clsf.fit(train_x, train_y)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma=15, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

### Testing accuracy on training data

In [137]:
#Now testing for trainig data
#Now predict values for given classifier
prediction = clsf.predict(train_x)
svm["trainig_set"]=accuracy_score(prediction,train_y)*100
print 'Accuracy Check ',svm["trainig_set"],'%'

Accuracy Check  64.746835443 %

### Testing accuracy on Testing data

In [138]:
prediction = clsf.predict(test_x)
svm["test_set"]=accuracy_score(prediction,test_y)*100
print 'Accuracy Check ',svm["test_set"],'%'

Accuracy Check  50.6666666667 %

In [130]:
svm

{'test_set': 50.333333333333329, 'trainig_set': 61.708860759493668}

## Decision Tree Classifier

In [84]:
decision={}
clf=DecisionTreeClassifier(max_depth=50,min_samples_split=12)
clf

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=50,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=12, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [85]:
#train
clf = clf.fit(train_x, train_y)

### Testing accuracy on training data

In [86]:
#Now testing for trainig data
#Now predict values for given classifier
prediction = clf.predict(train_x)
decision["trainig_set"]=accuracy_score(prediction,train_y)*100
print 'Accuracy Check ',decision["trainig_set"],'%'

Accuracy Check  92.7152317881 %

### Testing accuracy on Testing data

In [87]:
prediction = clf.predict(test_x)
decision["test_set"]=accuracy_score(prediction,test_y)*100
print 'Accuracy Check ',decision["test_set"],'%'

Accuracy Check  61.3333333333 %

In [23]:
decision

{'test_set': 75.568181818181827, 'trainig_set': 95.588235294117652}

## Neural Net Classifier

In [88]:
from sklearn.neural_network import MLPClassifier

In [107]:
neural=dict()
clf = MLPClassifier(algorithm='l-bfgs',hidden_layer_sizes=(20,), alpha=1e-4, random_state=1)
clf

MLPClassifier(activation='relu', algorithm='l-bfgs', alpha=0.0001,
       batch_size='auto', beta_1=0.9, beta_2=0.999, early_stopping=False,
       epsilon=1e-08, hidden_layer_sizes=(20,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [108]:
#trainig Network
clf.fit(train_x, train_y)

MLPClassifier(activation='relu', algorithm='l-bfgs', alpha=0.0001,
       batch_size='auto', beta_1=0.9, beta_2=0.999, early_stopping=False,
       epsilon=1e-08, hidden_layer_sizes=(20,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

### Testing accuracy on training data

In [109]:
#Now testing for trainig data
#Now predict values for given classifier
prediction = clf.predict(train_x)
neural["trainig_set"]=accuracy_score(prediction,train_y)*100
print 'Accuracy Check ',neural["trainig_set"],'%'

Accuracy Check  56.821192053 %

### Testing accuracy on testing data

In [110]:
prediction = clf.predict(test_x)
neural["test_set"]=accuracy_score(prediction,test_y)*100
print 'Accuracy Check ',neural["test_set"],'%'

Accuracy Check  47.6666666667 %

In [102]:
neural

{'test_set': 44.0, 'trainig_set': 55.76158940397351}

## Ploting

In [ ]:
import pylab as plt
plt.rcParams['figure.figsize'] = 16, 12

In [ ]:
#%pylab inline
classifier = [1,2,3,4]
accuracy_test_data=[svm["test_set"],decision["test_set"],kmean["test_set"],neural["test_set"]]
LABELS=["SVM","Decision-Tree","K-Mean","Neural-net"]

plt.bar(classifier,accuracy_test_data,align='center')
plt.xticks(classifier, LABELS) #binding label with x axis data
plt.xlabel('Classifier')
plt.ylabel('Accuracy')
plt.title('Analysis with 2 Class')
plt.show()